services:
  Dbp\Relay\BaseCourseConnectorCampusonlineBundle\Service\CourseProvider:
     autowire: true
     autoconfigure: true
     arguments:
       $entityManager: '@doctrine.orm.dbp_relay_base_course_connector_campusonline_bundle_entity_manager'

  Dbp\Relay\BaseCourseConnectorCampusonlineBundle\Service\HealthCheck:
    autowire: true
    autoconfigure: true

  Dbp\Relay\BaseCourseConnectorCampusonlineBundle\EventSubscriber\CourseEventSubscriber:
    autowire: true
    autoconfigure: true

  Dbp\Relay\BaseCourseConnectorCampusonlineBundle\EventSubscriber\CourseEventEventSubscriber:
    autowire: true
    autoconfigure: true

  Dbp\Relay\BaseCourseConnectorCampusonlineBundle\Cron\CacheRefreshCronJob:
    autowire: true
    autoconfigure: true

  Dbp\Relay\BaseCourseBundle\API\CourseProviderInterface:
    '@Dbp\Relay\BaseCourseConnectorCampusonlineBundle\Service\CourseProvider'
